In [25]:
import pandas as pd
data = pd.read_csv('data.csv')

In [4]:
#1
data[data.budget == data.budget.max()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [5]:
#2
data[data.runtime == data.runtime.max()]['original_title']

1158    Gods and Generals
Name: original_title, dtype: object

In [6]:
#3
data[data.runtime == data.runtime.min()]['original_title']

769    Winnie the Pooh
Name: original_title, dtype: object

In [33]:
data.runtime.describe()

count    1890.000000
mean      109.653439
std        18.013641
min        63.000000
25%        97.000000
50%       106.500000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [34]:
#4 #5
data.runtime.median()

106.5

In [40]:
#6

data['marga'] = data.apply(lambda x: x['revenue'] - x['budget'], axis = 1)
data[data.marga == data.marga.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [3]:
#7

data[data.marga == data.marga.min()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [43]:
#8

s = data[(data.revenue > data.budget)]
len(s)

1478

In [20]:
#9

b = data[(data.release_year == 2008)].marga.max()
data.loc[(data['marga'] == b)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,marga
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [21]:
#10

r = data[(data.release_year >= 2012) & (data.release_year <= 2014)].marga.min()
data.loc[(data['marga'] == r)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,marga
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [70]:
genresListOfLists = [i for i in map(lambda x: x.split('|'), data['genres'])]
pd.Series([item for sublist in genresListOfLists for item in sublist]).value_counts().index.tolist()[0]

'Drama'

In [101]:
#11

import collections
c = collections.Counter()
b = data.genres.str.split('|').sum()
b
for word in b:
    c[word] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 597, 'Action': 583, 'Adventure': 416, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 223, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 20, 'Documentary': 8, 'Foreign': 2})

In [4]:
data.original_title[data.budget.idxmax()]

"The Warrior's Way"

In [15]:
data[data.budget == data.budget.max()].original_title.values[0]

"The Warrior's Way"

In [23]:
#12

import collections
c = collections.Counter()
b = data[data.revenue > data.budget]
d = b.genres.str.split('|').sum()
for word in d:
    c[word] +=1
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

In [52]:
#13

data.director.value_counts() #больше всего снял фильмов

Steven Soderbergh               13
Ridley Scott                    12
Clint Eastwood                  12
Steven Spielberg                10
Shawn Levy                      10
                                ..
Neil Nightingale|Barry Cook      1
Derrick Borte                    1
Peter Bogdanovich                1
Jennifer Flackett|Mark Levin     1
Oxide Pang Chun|Danny Pang       1
Name: director, Length: 958, dtype: int64

In [57]:
#14

import collections
c = collections.Counter()
b = data[data.revenue > data.budget]
d = b.director.value_counts()
d
#больше всего снял прибыльных фильмов (по разнице сборы - бюджет)

Ridley Scott               12
Clint Eastwood             10
Steven Soderbergh          10
Steven Spielberg           10
Shawn Levy                  9
                           ..
John Lasseter|Joe Ranft     1
Jay Chandrasekhar           1
Lawrence Kasdan             1
FranÃ§ois Ozon              1
Gregory Hoblit              1
Name: director, Length: 774, dtype: int64

In [22]:
import collections
c = collections.Counter()
b = data.director.str.split('|').sum()
for word in b:
    c[word] += 1
#print(c) #больше всего снял фильмов

In [98]:
df.groupby(['director'])

In [99]:
df.groupby(['director']).groups
grouped_df = df.groupby(['director']).sum()
display(grouped_df)
df.groupby(['director'])
grouped_df = df.groupby(['director'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)

{'Aaron Seltzer|Jason Friedberg': Int64Index([1513], dtype='int64'),
 'Adam McKay': Int64Index([24, 411, 645, 1252, 1492, 1593], dtype='int64'),
 'Adam Shankman': Int64Index([544, 650, 892, 1156, 1327, 1364, 1727], dtype='int64'),
 'Adrian Lyne': Int64Index([924], dtype='int64'),
 'Alan Poul': Int64Index([423], dtype='int64'),
 'Alan Taylor': Int64Index([6, 1180], dtype='int64'),
 'Alastair Fothergill|Mark Linfield': Int64Index([1787], dtype='int64'),
 'Albert Hughes|Allen Hughes': Int64Index([405, 541], dtype='int64'),
 'Alejandro Agresti': Int64Index([1469], dtype='int64'),
 'Alejandro AmenÃ¡bar': Int64Index([525], dtype='int64'),
 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu': Int64Index([5, 127, 1130, 1447], dtype='int64'),
 'Aleksander Bach': Int64Index([58], dtype='int64'),
 'Alex Garland': Int64Index([12], dtype='int64'),
 'Alex Proyas': Int64Index([276, 1570], dtype='int64'),
 'Alexander Payne': Int64Index([820, 941, 1289, 1634], dtype='int64'),
 'Alexander Witt': Int64Index([1578], dtype='int64'),
 'Alexandre Aja': Int64Index([458, 653, 1475], dtype='int64'),
 'Alfonso CuarÃ³n': Int64Index([1179, 1561], dtype='int64'),
 'Alister Grierson': Int64Index([839], dtype='int64'),
 'Amma Asante': Int64Index([1266], dtype='int64'),
 'Anand Tucker': Int64Index([420], dtype='int64'),
 'Andrew Adamson': Int64Index([625, 1315], dtype='int64'),
 'Andrew Adamson|Kelly Asbury|Conrad Vernon': Int64Index([1576], dtype='int64'),
 'Andrew Adamson|Vicky Jenson': Int64Index([502], dtype='int64'),
 'Andrew Dominik': Int64Index([1054], dtype='int64'),
 'Andrew Douglas': Int64Index([1382], dtype='int64'),
 'Andrew Erwin|Jon Erwin': Int64Index([233], dtype='int64'),
 'Andrew Niccol': Int64Index([727, 1257], dtype='int64'),
 'Andrew Stanton': Int64Index([601, 1015], dtype='int64'),
 'Andrew Stanton|Lee Unkrich': Int64Index([1088], dtype='int64'),
 'Andrzej Bartkowiak': Int64Index([565, 1136, 1816], dtype='int64'),
 'Andy Fickman': Int64Index([81, 302, 443, 1074, 1461, 1736], dtype='int64'),
 'Andy Muschietti': Int64Index([1259], dtype='int64'),
 'Andy Tennant': Int64Index([419, 646, 916, 1332], dtype='int64'),
 'Ang Lee': Int64Index([984, 1115, 1341], dtype='int64'),
 'Angela Robinson': Int64Index([1355], dtype='int64'),
 'Angelina Jolie': Int64Index([191], dtype='int64'),
 'Anne Fletcher': Int64Index([100, 260, 642, 1439], dtype='int64'),
 'Anthony Bell|Ben Gluck': Int64Index([480], dtype='int64'),
 'Anthony Leondis': Int64Index([718], dtype='int64'),
 'Anthony Minghella': Int64Index([1134], dtype='int64'),
 'Anthony Russo|Joe Russo': Int64Index([1502], dtype='int64'),
 'Anthony Silverston': Int64Index([1300], dtype='int64'),
 'Antoine Fuqua': Int64Index([21, 140, 308, 524, 1121, 1204, 1612, 1687], dtype='int64'),
 'Ari Sandel': Int64Index([79], dtype='int64'),
 'Asger Leth': Int64Index([1046], dtype='int64'),
 'Ash Brannon|Chris Buck': Int64Index([1733], dtype='int64'),
 'Ava DuVernay': Int64Index([192], dtype='int64'),
 'Baltasar KormÃ¡kur': Int64Index([47, 1029, 1202], dtype='int64'),
 'Barbet Schroeder': Int64Index([914], dtype='int64'),
 'Barry Levinson': Int64Index([1546], dtype='int64'),
 'Barry Sonnenfeld': Int64Index([872, 991, 1484], dtype='int64'),
 'Baz Luhrmann': Int64Index([512, 1195], dtype='int64'),
 'Ben Affleck': Int64Index([407, 999, 1781], dtype='int64'),
 'Ben Falcone': Int64Index([215], dtype='int64'),
 'Ben Garant': Int64Index([1799], dtype='int64'),
 'Ben Stiller': Int64Index([520, 626, 1200], dtype='int64'),
 'Ben Younger': Int64Index([1824], dtype='int64'),
 'Bennett Miller': Int64Index([791, 1408], dtype='int64'),
 'Benny Chan': Int64Index([851], dtype='int64'),
 'Betty Thomas': Int64Index([295, 1479], dtype='int64'),
 'Bibo Bergeron|Vicky Jenson|Rob Letterman': Int64Index([1589], dtype='int64'),
 'Bill Condon': Int64Index([752, 1017, 1517], dtype='int64'),
 'Bill Paxton': Int64Index([555], dtype='int64'),
 'Bille Woodruff': Int64Index([1103, 1414], dtype='int64'),
 'Billy Ray': Int64Index([96], dtype='int64'),
 'Boaz Yakin': Int64Index([98, 1006, 1160, 1834], dtype='int64'),
 'Bob Peterson|Pete Docter': Int64Index([243], dtype='int64'),
 'Bobby Farrelly|Peter Farrelly': Int64Index([189, 534, 748, 1058, 1365, 1732], dtype='int64'),
 'Bonnie Hunt': Int64Index([1884], dtype='int64'),
 'Brad Anderson': Int64Index([1218, 1621], dtype='int64'),
 'Brad Bird': Int64Index([20, 731, 1566], dtype='int64'),
 'Brad Bird|Jan Pinkava': Int64Index([1672], dtype='int64'),
 'Brad Furman': Int64Index([764, 1235], dtype='int64'),
 'Brad Peyton': Int64Index([22, 466, 1005], dtype='int64'),
 'Brad Silberling': Int64Index([1586], dtype='int64'),
 'Brandon Camp': Int64Index([306], dtype='int64'),
 'Breck Eisner': Int64Index([39, 479], dtype='int64'),
 'Brett Ratner': Int64Index([170, 523, 803, 961, 1559, 1681, 1839], dtype='int64'),
 'Brian A Miller': Int64Index([201], dtype='int64'),
 'Brian Helgeland': Int64Index([63, 519, 1283], dtype='int64'),
 'Brian Klugman|Lee Sternthal': Int64Index([1071], dtype='int64'),
 'Brian Levant': Int64Index([469, 1400], dtype='int64'),
 'Brian Robbins': Int64Index([560, 1527, 1756], dtype='int64'),
 'Brian Taylor|Mark Neveldine': Int64Index([1456], dtype='int64'),
 'Bruce A. Evans': Int64Index([1711], dtype='int64'),
 'Bryan Bertino': Int64Index([678], dtype='int64'),
 'Bryan Singer': Int64Index([132, 620, 1173, 1234, 1885], dtype='int64'),
 'Burr Steers': Int64Index([266, 424], dtype='int64'),
 'Callan Brunker': Int64Index([1264], dtype='int64'),
 'Cameron Crowe': Int64Index([530, 787], dtype='int64'),
 'Camille Delamarre': Int64Index([91, 214], dtype='int64'),
 'Carl Franklin': Int64Index([939, 1145], dtype='int64'),
 'Carlos Saldanha': Int64Index([188, 755, 1440], dtype='int64'),
 'Catherine Hardwicke': Int64Index([605, 751], dtype='int64'),
 'Chad Stahelski|David Leitch': Int64Index([121], dtype='int64'),
 'Charles Herman-Wurmfeld': Int64Index([1122], dtype='int64'),
 'Charles Martin Smith': Int64Index([229, 850], dtype='int64'),
 'Charles Stone III': Int64Index([964], dtype='int64'),
 'Chris Buck|Jennifer Lee': Int64Index([1178], dtype='int64'),
 'Chris Carter': Int64Index([681], dtype='int64'),
 'Chris Columbus': Int64Index([13, 397, 498, 865], dtype='int64'),
 'Chris Gorak': Int64Index([788], dtype='int64'),
 'Chris Miller': Int64Index([793], dtype='int64'),
 'Chris Miller|Raman Hui': Int64Index([1691], dtype='int64'),
 'Chris Nahon': Int64Index([531], dtype='int64'),
 'Chris Noonan': Int64Index([1522], dtype='int64'),
 'Chris Renaud|Kyle Balda': Int64Index([1009], dtype='int64'),
 'Chris Rock': Int64Index([1794], dtype='int64'),
 'Chris Wedge': Int64Index([1212], dtype='int64'),
 'Chris Wedge|Carlos Saldanha': Int64Index([866, 1342], dtype='int64'),
 'Chris Weitz': Int64Index([257, 1713], dtype='int64'),
 'Chris Weitz|Paul Weitz': Int64Index([894], dtype='int64'),
 'Chris Williams|Byron Howard': Int64Index([635], dtype='int64'),
 'Christian Alvart': Int64Index([303], dtype='int64'),
 'Christian E. Christiansen': Int64Index([792], dtype='int64'),
 'Christine Jeffs': Int64Index([1177], dtype='int64'),
 'Christophe Gans': Int64Index([1460], dtype='int64'),
 'Christopher B. Landon': Int64Index([1294], dtype='int64'),
 'Christopher Erskin': Int64Index([1667], dtype='int64'),
 'Christopher Guest': Int64Index([1168], dtype='int64'),
 'Christopher McQuarrie': Int64Index([25, 987], dtype='int64'),
 'Christopher Nolan': Int64Index([118, 370, 600, 904, 973, 1314, 1445, 1801], dtype='int64'),
 'Christopher Spencer': Int64Index([225], dtype='int64'),
 'Chuck Russell': Int64Index([909], dtype='int64'),
 'Ciaran Foy': Int64Index([80], dtype='int64'),
 'Clare Kilner': Int64Index([1404], dtype='int64'),
 'Clark Johnson': Int64Index([1120, 1538], dtype='int64'),
 'Clint Eastwood': Int64Index([145, 323, 472, 612, 660, 838, 1112, 1507, 1587, 1844], dtype='int64'),
 'Cody Cameron|Kris Pearn': Int64Index([1272], dtype='int64'),
 'Colin Strause|Greg Strause': Int64Index([464], dtype='int64'),
 'Colin Trevorrow': Int64Index([0], dtype='int64'),
 'Cory Edwards|Todd Edwards|Tony Leech': Int64Index([1360], dtype='int64'),
 'Craig Brewer': Int64Index([825, 1424], dtype='int64'),
 'Craig Gillespie': Int64Index([222, 807], dtype='int64'),
 'Curtis Hanson': Int64Index([887], dtype='int64'),
 'D.J. Caruso': Int64Index([627, 754, 1644, 1715], dtype='int64'),
 'DJ Pooh': Int64Index([598], dtype='int64'),
 'Dan Cutforth|Jane Lipsitz': Int64Index([1081], dtype='int64'),
 'Dan Gilroy': Int64Index([136], dtype='int64'),
 'Dan Scanlon': Int64Index([1198], dtype='int64'),
 'Daniel Barber': Int64Index([353], dtype='int64'),
 'Daniel Barnz': Int64Index([800], dtype='int64'),
 'Daniel Espinosa': Int64Index([1044], dtype='int64'),
 'Danny Boyle': Int64Index([383, 880, 1251, 1857], dtype='int64'),
 'Danny Boyle|Loveleen Tandan': Int64Index([618], dtype='int64'),
 'Danny Leiner': Int64Index([1603, 1838], dtype='int64'),
 'Darren Aronofsky': Int64Index([171, 373, 649], dtype='int64'),
 'Darren Lynn Bousman': Int64Index([1497, 1725], dtype='int64'),
 'Dave Green': Int64Index([234], dtype='int64'),
 'Dave Meyers': Int64Index([1742], dtype='int64'),
 'David Ayer': Int64Index([129, 663, 1025], dtype='int64'),
 'David Bowers': Int64Index([812, 1066], dtype='int64'),
 'David Cronenberg': Int64Index([841, 1381, 1729], dtype='int64'),
 'David Dobkin': Int64Index([172, 762, 1119, 1325], dtype='int64'),
 'David E. Talbert': Int64Index([1292], dtype='int64'),
 'David Fincher': Int64Index([128, 393, 609, 733, 884, 1702], dtype='int64'),
 'David Frankel': Int64Index([639, 1059, 1442], dtype='int64'),
 'David Gordon Green': Int64Index([648, 837], dtype='int64'),
 'David Hackl': Int64Index([667], dtype='int64'),
 'David Koepp': Int64Index([1615], dtype='int64'),
 'David Lynch': Int64Index([499], dtype='int64'),
 'David M. Rosenthal': Int64Index([105], dtype='int64'),
 'David McNally': Int64Index([1815], dtype='int64'),
 'David Moreau|Xavier Palud': Int64Index([687], dtype='int64'),
 'David O. Russell': Int64Index([979, 1207], dtype='int64'),
 'David R. Ellis': Int64Index([294, 1131, 1518, 1619], dtype='int64'),
 'David S. Goyer': Int64Index([299, 1584], dtype='int64'),
 'David Schwimmer': Int64Index([1738], dtype='int64'),
 'David Silverman': Int64Index([1705], dtype='int64'),
 'David Slade': Int64Index([408, 1712], dtype='int64'),
 'David Soren': Int64Index([1254], dtype='int64'),
 'David Twohy': Int64Index([312, 1193, 1613, 1823], dtype='int64'),
 'David Wain': Int64Index([657], dtype='int64'),
 'David Yates': Int64Index([242, 374, 723, 1671], dtype='int64'),
 'David Zucker': Int64Index([1102, 1470], dtype='int64'),
 'Dean DeBlois': Int64Index([151], dtype='int64'),
 'Dean DeBlois|Chris Sanders': Int64Index([377, 875], dtype='int64'),
 'Dean Israelite': Int64Index([90], dtype='int64'),
 'Dean Parisot': Int64Index([1383], dtype='int64'),
 'Denis Villeneuve': Int64Index([54, 1206], dtype='int64'),
 'Dennie Gordon': Int64Index([564], dtype='int64'),
 'Dennis Dugan': Int64Index([404, 675, 736, 783, 1223, 1722], dtype='int64'),
 'Denzel Washington': Int64Index([955, 1764], dtype='int64'),
 'Derek Cianfrance': Int64Index([1222], dtype='int64'),
 'Dominic Sena': Int64Index([533, 785, 1819], dtype='int64'),
 'Don Hall|Chris Williams': Int64Index([124], dtype='int64'),
 'Don Mancini': Int64Index([1622], dtype='int64'),
 'Donald Petrie': Int64Index([349, 1118, 1476, 1826], dtype='int64'),
 'Doug Atchison': Int64Index([1560], dtype='int64'),
 'Doug Ellin': Int64Index([82], dtype='int64'),
 'Doug Liman': Int64Index([143, 462, 615, 867, 1345], dtype='int64'),
 'Douglas McGrath': Int64Index([840], dtype='int64'),
 'Drew Goddard': Int64Index([1002], dtype='int64'),
 'Duncan Jones': Int64Index([277, 730], dtype='int64'),
 'Dustin Hoffman': Int64Index([1063], dtype='int64'),
 'Ed Gass-Donnelly': Int64Index([1306], dtype='int64'),
 'Edward Norton': Int64Index([1872], dtype='int64'),
 'Edward Zwick': Int64Index([414, 676, 1106, 1455], dtype='int64'),
 'Eli Roth': Int64Index([1741], dtype='int64'),
 'Elizabeth Allen Rosenbaum': Int64Index([1531], dtype='int64'),
 'Elizabeth Banks': Int64Index([31], dtype='int64'),
 'Eric Bress|J. Mackye Gruber': Int64Index([1577], dtype='int64'),
 'Eric Brevig': Int64Index([481, 616], dtype='int64'),
 'Eric Darnell|Tom McGrath': Int64Index([613, 1322], dtype='int64'),
 'Eric Darnell|Tom McGrath|Conrad Vernon': Int64Index([1030], dtype='int64'),
 'Ericson Core': Int64Index([48], dtype='int64'),
 'Etan Cohen': Int64Index([107], dtype='int64'),
 'Ethan Coen|Joel Coen': Int64Index([311, 390, 641], dtype='int64'),
 'F. Gary Gray': Int64Index([38, 271, 1097, 1104, 1338], dtype='int64'),
 'Fede Alvarez': Int64Index([1219], dtype='int64'),
 'Feng Xiaogang': Int64Index([1797], dtype='int64'),
 'Fernando Meirelles': Int64Index([1410], dtype='int64'),
 'Florent-Emilio Siri': Int64Index([1370], dtype='int64'),
 'Florian Henckel von Donnersmarck': Int64Index([387], dtype='int64'),
 'Francine McDougall': Int64Index([596], dtype='int64'),
 'Francis Lawrence': Int64Index([19, 122, 845, 1183, 1324, 1675], dtype='int64'),
 'Frank Coraci': Int64Index([173, 757, 1450], dtype='int64'),
 'Frank Darabont': Int64Index([1678], dtype='int64'),
 'Frank Marshall': Int64Index([1458], dtype='int64'),
 'Frank Oz': Int64Index([563, 1626], dtype='int64'),
 'FranÃ§ois Ozon': Int64Index([1167], dtype='int64'),
 'Fred Savage': Int64Index([1750], dtype='int64'),
 'Fred Wolf': Int64Index([666], dtype='int64'),
 'Frederik Du Chau': Int64Index([1378], dtype='int64'),
 'Fyodor Bondarchuk': Int64Index([1312], dtype='int64'),
 'Gabriele Muccino': Int64Index([633, 1493], dtype='int64'),
 'Gareth Edwards': Int64Index([147], dtype='int64'),
 'Garry Marshall': Int64Index([427, 511, 804, 1616], dtype='int64'),
 'Garth Jennings': Int64Index([1320], dtype='int64'),
 'Gary Fleder': Int64Index([553, 1154, 1226], dtype='int64'),
 'Gary Ross': Int64Index([992, 1144], dtype='int64'),
 'Gary Shore': Int64Index([157], dtype='int64'),
 'Gary Trousdale|Kirk Wise': Int64Index([507], dtype='int64'),
 'Gary Winick': Int64Index([296, 1594], dtype='int64'),
 'Gavin Hood': Int64Index([62, 359, 1201], dtype='int64'),
 "Gavin O'Connor": Int64Index([1658], dtype='int64'),
 'Genndy Tartakovsky': Int64Index([69, 1024], dtype='int64'),
 'Geoffrey Sax': Int64Index([1419], dtype='int64'),
 'George A. Romero': Int64Index([1392], dtype='int64'),
 'George Clooney': Int64Index([190, 828, 950, 1379], dtype='int64'),
 'George Lucas': Int64Index([870, 1319], dtype='int64'),
 'George Miller': Int64Index([1, 808, 1463], dtype='int64'),
 'George Nolfi': Int64Index([775], dtype='int64'),
 'George Tillman, Jr.': Int64Index([68, 1865], dtype='int64'),
 'Gil Kenan': Int64Index([73, 1471], dtype='int64'),
 'Gina Prince-Bythewood': Int64Index([698, 1878], dtype='int64'),
 'Giuseppe Tornatore': Int64Index([1275], dtype='int64'),
 'Glen Morgan': Int64Index([1550], dtype='int64'),
 'Glenn Ficarra|John Requa': Int64Index([57, 732], dtype='int64'),
 'Gonzalo LÃ³pez-Gallego': Int64Index([806], dtype='int64'),
 'Gore Verbinski': Int64Index([548, 761, 891, 1084, 1435, 1670], dtype='int64'),
 'Graham Annable|Anthony Stacchi': Int64Index([199], dtype='int64'),
 'Grant Heslov': Int64Index([318], dtype='int64'),
 'Greg Berlanti': Int64Index([454], dtype='int64'),
 'Greg Coolidge': Int64Index([1505], dtype='int64'),
 'Greg Mottola': Int64Index([347, 778, 1693], dtype='int64'),
 'Gregory Hoblit': Int64Index([1827], dtype='int64'),
 'Gregory Jacobs': Int64Index([93], dtype='int64'),
 'Gregory Plotkin': Int64Index([94], dtype='int64'),
 'Gregory Poirier': Int64Index([569], dtype='int64'),
 'GrÃ©gory Levasseur': Int64Index([227], dtype='int64'),
 'Guillermo del Toro': Int64Index([92, 614, 882, 1185, 1574], dtype='int64'),
 'Gus Van Sant': Int64Index([679, 1868], dtype='int64'),
 'Guy Ferland': Int64Index([1642], dtype='int64'),
 'Guy Ritchie': Int64Index([40, 247, 686, 741, 1804], dtype='int64'),
 'GÃ¡bor CsupÃ³': Int64Index([1686], dtype='int64'),
 'Harald Zwart': Int64Index([430, 1170, 1211], dtype='int64'),
 'Harmony Korine': Int64Index([1217], dtype='int64'),
 'Harold Cronk': Int64Index([237], dtype='int64'),
 'Harold Ramis': Int64Index([325, 1806], dtype='int64'),
 'Henry Joost|Ariel Schulman': Int64Index([830, 1072], dtype='int64'),
 'Henry Selick': Int64Index([264], dtype='int64'),
 'Howard Deutch': Int64Index([711], dtype='int64'),
 'Hoyt Yeatman': Int64Index([278], dtype='int64'),
 'Iain Softley': Int64Index([552, 1377], dtype='int64'),
 'Ilya Naishuller': Int64Index([42], dtype='int64'),
 'Ivan Reitman': Int64Index([561, 745], dtype='int64'),
 'J.B. Rogers': Int64Index([510], dtype='int64'),
 'J.J. Abrams': Int64Index([3, 244, 749, 1191, 1441], dtype='int64'),
 'Jake Kasdan': Int64Index([135, 740], dtype='int64'),
 'Jake Schreier': Int64Index([44], dtype='int64'),
 'James Bobin': Int64Index([230, 833], dtype='int64'),
 'James Cameron': Int64Index([239, 1171], dtype='int64'),
 'James DeMonaco': Int64Index([167], dtype='int64'),
 'James Foley': Int64Index([1755], dtype='int64'),
 'James Gray': Int64Index([1767], dtype='int64'),
 'James Gunn': Int64Index([119], dtype='int64'),
 'James Isaac': Int64Index([547], dtype='int64'),
 'James Mangold': Int64Index([417, 1110, 1286, 1393, 1717], dtype='int64'),
 'James Marsh': Int64Index([155], dtype='int64'),
 'James McTeigue': Int64Index([319, 1032, 1316], dtype='int64'),
 'James Wan': Int64Index([4, 1194, 1793], dtype='int64'),
 'James Watkins': Int64Index([1041], dtype='int64'),
 'James Wong': Int64Index([1459, 1814], dtype='int64'),
 'Jan de Bont': Int64Index([1108], dtype='int64'),
 'Jared Hess': Int64Index([1498], dtype='int64'),
 'Jason Friedberg|Aaron Seltzer': Int64Index([439, 689, 1761], dtype='int64'),
 'Jason Moore': Int64Index([89, 990], dtype='int64'),
 'Jason Reitman': Int64Index([335, 772, 1374, 1685], dtype='int64'),
 'Jason Winer': Int64Index([835], dtype='int64'),
 'Jaume Collet-Serra': Int64Index([36, 181, 292, 774, 1411], dtype='int64'),
 'Jay Chandrasekhar': Int64Index([1371], dtype='int64'),
 'Jay Roach': Int64Index([463, 902, 1580, 1821], dtype='int64'),
 'Jay Russell': Int64Index([1669, 1776], dtype='int64'),
 'Jean-FranÃ§ois Richet': Int64Index([1389], dtype='int64'),
 'Jean-Jacques Annaud': Int64Index([516], dtype='int64'),
 'Jean-Marc VallÃ©e': Int64Index([1214], dtype='int64'),
 'Jeff Nichols': Int64Index([1277], dtype='int64'),
 'Jeff Tremaine': Int64Index([912, 1240, 1519], dtype='int64'),
 'Jeff Wadlow': Int64Index([647], dtype='int64'),
 'Jennifer Flackett|Mark Levin': Int64Index([717], dtype='int64'),
 'Jennifer Yuh': Int64Index([735], dtype='int64'),
 'Jeremy Garelick': Int64Index([83], dtype='int64'),
 'Jerry Zucker': Int64Index([545], dtype='int64'),
 'Jesse Dylan': Int64Index([568, 1095, 1396], dtype='int64'),
 'Jesse Peretz': Int64Index([824], dtype='int64'),
 'Jessie Nelson': Int64Index([70, 550], dtype='int64'),
 'Jim Fall': Int64Index([1147], dtype='int64'),
 'Jim Field Smith': Int64Index([470], dtype='int64'),
 'Jim Jarmusch': Int64Index([1390], dtype='int64'),
 'Jim Sheridan': Int64Index([285, 1395], dtype='int64'),
 'Jimmy Hayward': Int64Index([1288], dtype='int64'),
 'Jimmy Hayward|Steve Martino': Int64Index([671], dtype='int64'),
 'Jocelyn Moorhouse': Int64Index([78], dtype='int64'),
 'Joe Carnahan': Int64Index([401, 790, 1483], dtype='int64'),
 'Joe Johnston': Int64Index([593, 721, 1628], dtype='int64'),
 'Joe Nussbaum': Int64Index([847], dtype='int64'),
 'Joe Russo|Anthony Russo': Int64Index([120], dtype='int64'),
 'Joe Wright': Int64Index([818, 1340, 1688], dtype='int64'),
 'Joel Coen': Int64Index([1152, 1822], dtype='int64'),
 'Joel Coen|Ethan Coen': Int64Index([1674], dtype='int64'),
 'Joel Edgerton': Int64Index([75], dtype='int64'),
 'Joel Gallen': Int64Index([521], dtype='int64'),
 'Joel Schumacher': Int64Index([896, 1645, 1699], dtype='int64'),
 'Joel Zwick': Int64Index([893], dtype='int64'),
 'John A. Davis': Int64Index([526, 1474], dtype='int64'),
 'John Bonito': Int64Index([1526], dtype='int64'),

In [101]:
grouped_df = df.groupby(['director']).sum()
display(grouped_df)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,marga,profit
director,,,,,,,,,
Aaron Seltzer|Jason Friedberg,0.698297,20000000,48548426,83,103,3.9,2006,28548426,28548426
Adam McKay,10.966969,341500000,859076455,664,5089,38.9,12056,517576455,517576455
Adam Shankman,7.874769,312000000,814144160,714,2684,41.8,14031,502144160,502144160
Adrian Lyne,0.767580,50000000,119137784,124,138,6.4,2002,69137784,69137784
Alan Poul,1.202845,35000000,77477008,106,290,5.7,2010,42477008,42477008
...,...,...,...,...,...,...,...,...,...
Wolfgang Petersen,4.586848,455000000,1004841306,392,2226,18.0,6010,549841306,549841306
Wong Kar-wai,0.291333,10000000,21786738,111,110,6.2,2007,11786738,11786738
Woody Allen,2.844338,48000000,279220507,318,1863,20.7,6026,231220507,231220507
Xavier Gens,0.915514,24000000,99965753,89,615,5.9,2007,75965753,75965753
Zack Snyder,13.196202,610000000,1602937193,730,11932,39.4,12054,992937193,992937193

In [108]:
#15

df.groupby(['director'])
grouped_df = df.groupby(['director'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)
#режиссер с максимальной прибылью (по сумме количества прибыльных фильмов)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
John Bonito             2165608
Joe Nussbaum            2130000
Bill Paxton             2110448
Sarah Gavron            2002420
Christian Alvart        2000000
Name: marga, Length: 774, dtype: int64

In [6]:
#16

from collections import defaultdict
actorsDict = defaultdict(list)
for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)
am = actorsDF.merge(data,how='inner',on = 'imdb_id')
am.head(5)
am.groupby(['actor'])
grouped_df = am.groupby(['actor'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)

actor
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Name: marga, Length: 3408, dtype: int64

In [4]:
#18

from collections import defaultdict
actorsDict = defaultdict(list)
# Сделаем предобработку датафрейма и оставим только фильмы с бюджетом выше среднего.
mean_budget = data.budget.mean()
data = data.query("budget > @mean_budget")
# код Александра
for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)
# без слияния сгруппирует и подсчитаем кол-во.
actorsDF_grouped = actorsDF.groupby('actor').count()
# получим индекс ( он же Имя актера) с максимальным значением
res = actorsDF_grouped.idxmax()
res #актер снявшийся в большем количестве высокобюджетных фильмов (бюджет выше среднего)

imdb_id    Matt Damon
dtype: object

In [6]:
#17

from collections import defaultdict
actorsDict = defaultdict(list)
for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)
am = actorsDF.merge(data,how='inner',on = 'imdb_id')
am.head(5)
am.groupby(['actor'])
grouped_df = am.groupby(['actor'])['marga'].sum().sort_values(ascending=False) # самый прибыльный актер (Эмма Уотсон)
display(grouped_df)

am[am.release_year == 2012].groupby(['actor'])['marga'].sum().sort_values(ascending=False) #актер принесший наименьшие сборы в 2012 (Кирстен Данст)

actor
Emma Watson          6641699865
Rupert Grint         6413185247
Daniel Radcliffe     6413185247
Ian McKellen         6087375777
Robert Downey Jr.    5187144448
                        ...
Randy Quaid          -139809746
Danny Huston         -227879299
Jang Dong-gun        -413912431
Kate Bosworth        -413912431
Ti Lung              -413912431
Name: marga, Length: 1508, dtype: int64

actor
Chris Hemsworth       1505964693
Denis Leary           1319460639
Robert Downey Jr.     1299557910
Mark Ruffalo          1299557910
Scarlett Johansson    1299557910
                         ...
Jim Sturgess           -23410657
James Kidnie           -51893525
Timothy Spall          -51893525
Heidi Hawkins          -51893525
Kirsten Dunst          -51893525
Name: marga, Length: 191, dtype: int64

In [10]:
#19

from collections import defaultdict
actorsDict = defaultdict(list)
genresDict = defaultdict(list)

for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)

for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for genre in row['genres'].split('|'):
        genresDict['imdb_id'].append(imdb_id)
        genresDict['genres'].append(genre)
genresDF = pd.DataFrame(genresDict)

joined = actorsDF.merge(genresDF, how='inner',on = 'imdb_id')

joined

joined[joined.actor == 'Nicolas Cage'].groupby(['actor'])['genres'].value_counts()

# в фильмах какого жанра больше всего снимался Николас Кейдж

actor         genres
Nicolas Cage  Action             17
              Thriller           15
              Drama              12
              Crime              10
              Fantasy             8
              Adventure           7
              Comedy              6
              Science Fiction     4
              Animation           3
              Family              3
              Mystery             3
              History             2
              Horror              1
              Romance             1
              War                 1
Name: genres, dtype: int64

In [129]:
#20

from collections import defaultdict
productionDict = defaultdict(list)


for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for company in row['production_companies'].split('|'):
        productionDict['imdb_id'].append(imdb_id)
        productionDict['company'].append(company)
prodactDF = pd.DataFrame(productionDict)

prodactDF

prodactDF.company.value_counts()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
TriStar Productions                         1
Premiere Picture                            1
Native Pictures Productions                 1
Mandalay Vision                             1
Curse Productions                           1
Name: company, Length: 1772, dtype: int64

In [102]:
companyListOfLists = [i for i in map(lambda x: x.split('|'), data['production_companies'])]
pd.Series([item for sublist in companyListOfLists for item in sublist]).value_counts().index.tolist()[0]

'Warner Bros.'

In [45]:
#21

from collections import defaultdict
productionDict = defaultdict(list)


for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for company in row['production_companies'].split('|'):
        productionDict['imdb_id'].append(imdb_id)
        productionDict['company'].append(company)
       
prodactDF = pd.DataFrame(productionDict)

joined = prodactDF.merge(data, how = 'inner', on = 'imdb_id' )

joined[joined.release_year == 2015].groupby(['release_year'])['company'].value_counts().sort_values(ascending=False)

#какая компания сняла больше всего фильмов в 2015 году

release_year  company
2015          Warner Bros.                                            12
              Universal Pictures                                      10
              Twentieth Century Fox Film Corporation                   8
              Columbia Pictures                                        7
              Paramount Pictures                                       7
                                                                      ..
              Living Films                                             1
              Little Stranger                                          1
              Le Tax Shelter du Gouvernement FÃ©dÃ©ral de Belgique     1
              Lakeshore Entertainment                                  1
              Endgame Entertainment                                    1
Name: company, Length: 246, dtype: int64

In [56]:
#22

joined[joined.genres == 'Comedy'].groupby(['company'])['marga'].sum().sort_values(ascending=False)
#компания заработавшая больше всего в жанре комедии за все время (правильный ответ Юниверсал)

company
Columbia Pictures                         1140891136
Warner Bros.                              1108301566
Universal Pictures                        1006415624
Twentieth Century Fox Film Corporation     973359761
Green Hat Films                            857726677
                                             ...
Gracie Films                               -24958633
Ingenious Media                            -33551615
Deuce Three Productions                    -33551615
Sunswept Entertainment                     -33551615
Patalex Productions                        -46604061
Name: marga, Length: 213, dtype: int64

In [58]:
#23

joined[joined.release_year == 2012].groupby(['company'])['marga'].sum().sort_values(ascending=False)
#заработала больше всего денег в 2012

company
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Jouror Productions     -51893525
Onyx Films             -51893525
Transfilm              -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Name: marga, Length: 236, dtype: int64

In [59]:
#24

joined[joined.company == 'Paramount Pictures'].groupby(['original_title'])['marga'].min().sort_values(ascending=False)
#самый убыточный фильм Парамаунт

original_title
Transformers: Dark of the Moon                        928746996
Transformers: Revenge of the Fallen                   686297228
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers                                          559709780
Mission: Impossible - Ghost Protocol                  549713380
                                                        ...
Twisted                                               -24805000
Alfie                                                 -46604061
Next                                                  -51788987
Timeline                                              -60519261
K-19: The Widowmaker                                  -64831034
Name: marga, Length: 122, dtype: int64

In [70]:
#25

joined.groupby(['marga'])
grouped_df = joined.groupby(['release_year'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)
#самый прибыльный год по доходам

release_year
2015    65334625738
2014    58543466580
2009    48823521075
2011    46949975181
2013    45496589970
2010    42913956098
2012    42692162023
2007    39556812949
2008    38055266115
2004    32433267183
2005    29365704422
2003    29122447864
2006    28493249688
2002    25662346177
2001    24928075425
2000    18995157324
Name: marga, dtype: int64

In [84]:
data5=data[data.production_companies.str.match("Universal Pictures" or "Universal Studios" or "Paramount" or "Columbia" or "Warner Bros" or "Twentieth Century", na=False)]
b=data5.production_companies.str.split('|').sum()
counter=collections.Counter(b)
print(counter.most_common(1))

[('Universal Pictures', 144)]

In [85]:
с=data.production_companies.str.split('|').sum()
counter=collections.Counter(с)
print(counter.most_common(2))

[('Universal Pictures', 173), ('Warner Bros.', 168)]

In [104]:
#26

data21=data[data.production_companies.str.contains("Warner", na=False)]
grouped_df2 = data21.groupby(['release_year']).sum()
grouped_df2.marga.sort_values(ascending=False).head(1)
#самый прибыльный год уорнер броз

release_year
2014    2295464519
Name: marga, dtype: int64

In [103]:
df = pd.read_csv('data.csv')
df['pribil'] = df.revenue - df.budget
df = df[df.production_companies.str.contains('Warner Bros')]
df[df.pribil == df.pribil.max()]
df.groupby(['release_year'])[['pribil']]
df.groupby(['release_year'])[['pribil']].groups

grouped_df = df.groupby(['release_year'])[['pribil']].sum().sort_values(by='release_year', ascending=False)
display(grouped_df)
#самый прибыльный год Уорнер Брозерс

                  pribil
release_year
2015           870368348
2014          2295464519
2013          1636453400
2012          1258020056
2011          1871393682
2010          1974712985
2009          1822454136
2008          2134595031
2007          2201675217
2006           620170743
2005          1551980298
2004          1631933725
2003          1855493377
2002          1022709901
2001          1343545668
2000           452631386

In [26]:
from datetime import datetime as dt
data["Month"]  = data.release_date.apply(lambda date:dt.strptime(date,'%m/%d/%Y').month)
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,Month
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,6
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,5
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,3

In [27]:
#27 #28

grouped_df56 = data.groupby(['Month']).count().sort_values(by = 'imdb_id', ascending=False)
grouped_df56
#в каком месяце вышло наибольшее количество фильмов (сентябрь)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
Month,,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110

In [131]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])[['marga']].sum().sort_values(['marga'],ascending=False)

                   marga
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

In [28]:
#29

data[(data.Month == 12) | (data.Month == 1) | (data.Month == 2)].groupby(['director'])[['imdb_id']].count().sort_values(['imdb_id'], ascending=False)
# режиссер кто больше всего снимает зимой

                   imdb_id
director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Adam Shankman            4
Nancy Meyers             4
...                    ...
GÃ¡bor CsupÃ³            1
Guy Ritchie              1
Guy Ferland              1
Gus Van Sant             1
Will Gluck               1

[333 rows x 1 columns]

In [55]:
df['pribil'] = df.revenue - df.budget
data.iloc[data.Month].groupby(['release_year'])[['marga']].sum().sort_values(['marga'], ascending=False)

                      marga
release_year
2015          1156562191349

In [41]:
#30

z = data.groupby(['Month']).sum().sort_values(by = 'marga', ascending=False)
z
# самый прибыльный месяц за весь период

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,title_len,title_words,marga
Month,,,,,,,,,,
6,284.103375,11871700000,39422962500,16092,171386,893.6,295091,2371,433,27551262500
12,336.434496,12222800000,38785871474,23048,173700,1212.8,383400,3212,574,26563071474
5,286.094123,11358600531,36398116672,15927,163287,883.1,281139,2186,394,25039516141
11,285.830249,9498400000,28152555473,16400,130980,926.2,293161,2289,405,18654155473
7,268.039043,10204520000,28512415020,15332,149406,857.5,285092,2347,424,18307895020
3,239.128385,8510896652,22231113192,16894,118841,949.1,313246,2170,405,13720216540
10,268.451706,7873430000,20868337859,20239,124244,1149.9,373469,2571,481,12994907859
4,189.414879,7563545000,20439550537,16005,106363,900.6,299074,2070,385,12876005537
9,270.547870,7309800000,18188721041,24652,124971,1433.2,455925,3305,585,10878921041
8,211.423835,6943300001,16583910447,17063,86662,954.2,323267,2360,424,9640610446
2,158.833057,5737665003,14592239428,14301,71617,803.8,271007,1976,355,8854574425
1,151.252935,3923500000,9320385454,11292,63453,642.3,220988,1565,273,5396885454

In [5]:
data['Length'] = data.original_title.apply(lambda x: len(x)) 

data.head(3)

data.Length.mean()

#z = data.groupby(['Length']).count().sort_values(by = 'Length', ascending=False)

32.668067226890756

In [34]:
s = 'Jurassic World'
s = s.split()
l = len(s)
print(l)

2

In [37]:
data['g'] = data.original_title.str.split()
data.head(3)
type(g)
len(g)

238

In [1]:
occurs_dict = {}
for word in word_list:
    occurs_dict[word] = occurs_dict.get(word, 0) + 1

NameError: name 'word_list' is not defined

In [29]:
#31 Самые длинные названия

def dlina(row):
    if 'Universal' in row['production_companies']:
        return 'Universal'
    if 'Paramount' in row['production_companies']:
        return 'Paramount'
    if 'Four By Two' in row['production_companies']:
        return 'Four By Two'
    if 'Warner' in row['production_companies']:
        return 'Warner'
    if 'Jim Henson' in row['production_companies']:
        return 'Jim Henson'
data['dlina']=data.apply(dlina,axis=1)
data['title_len']=data.original_title.str.len()
directors_len=data.groupby(['dlina']).title_len.mean()
directors_len

dlina
Four By Two    83.000000
Jim Henson     59.000000
Paramount      16.719697
Universal      14.762162
Warner         15.302198
Name: title_len, dtype: float64

In [31]:
#32 В среднем самые длинные по количеству слов

data['title_words']=data.original_title.str.count(' ')+1
directors_len=data.groupby(['dlina']).title_words.mean()
directors_len

dlina
Four By Two    12.000000
Jim Henson     10.000000
Paramount       2.856061
Universal       2.627027
Warner          2.758242
Name: title_words, dtype: float64

In [32]:
#33 Сколько разных слов используется в названиях фильмов (без учета регистра)?


different_words=[]
for row in data.original_title:
    words=row.split()
    for word in words:
        if word.lower() in different_words: 
            continue
        else: 
            different_words.append(word.lower())
len(different_words)

2461

In [33]:
#34 Какие фильмы входят в 1 % лучших по рейтингу?


movies_1=['Inside Out', 'Gone Girl', '12 Years a Slave']
movies_2=['The Adventures of Rocky & Bullwinkle', 'BloodRayne Girl']
movies_3=['The Lord of the Rings: The Return of the King']
movies_4=['300','Lucky Number Slevin']
count=data.imdb_id.count()
count1=int(round(0.01*count)-1)
data1=data.sort_values(by=['vote_average'], ascending=False).iloc[0:count1]
for movie in movies_1:
    display(data1[data1['original_title'].str.contains(movie)])
for movie in movies_2:
    display(data1[data1['original_title'].str.contains(movie)])
for movie in movies_3:
    display(data1[data1['original_title'].str.contains(movie)])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,Month,q31,title_len,dlina,title_words
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,...,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,6,None,10,None,2

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,Month,q31,title_len,dlina,title_words
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,...,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,10,None,9,None,2

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,Month,q31,title_len,dlina,title_words
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,...,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,10,None,16,None,4

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, Month, q31, title_len, dlina, title_words]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, Month, q31, title_len, dlina, title_words]
Index: []

[0 rows x 21 columns]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,Month,q31,title_len,dlina,title_words
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,...,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,12,None,45,None,10

In [34]:
#35 Какие актеры чаще всего снимаются в одном фильме вместе?

actors1=['Johnny Depp','Helena Bonham Carter']
actors2=['Johnny Depp','Ian McKellen']
actors3=['Vin Diesel','Paul Walker']
actors4=['Adam Sandler','Kevin James']
actors5=['Daniel Radcliffe','Rupert Grint']
print('1:',data[(data.cast.str.contains(actors1[0]))&(data.cast.str.contains(actors1[1]))].imdb_id.count())
print('2:',data[(data.cast.str.contains(actors2[0]))&(data.cast.str.contains(actors2[1]))].imdb_id.count())
print('3:',data[(data.cast.str.contains(actors3[0]))&(data.cast.str.contains(actors3[1]))].imdb_id.count())
print('4:',data[(data.cast.str.contains(actors4[0]))&(data.cast.str.contains(actors4[1]))].imdb_id.count())
print('5:',data[(data.cast.str.contains(actors5[0]))&(data.cast.str.contains(actors5[1]))].imdb_id.count())

1: 6
2: 0
3: 5
4: 5
5: 8

In [42]:
#36 У  какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

directors=['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
for director in directors:
    income_movies=data[(data.director.str.contains(director))&(data.marga>0)].imdb_id.count()
    movies=data[data.director.str.contains(director)].imdb_id.count()
    print(income_movies/movies)

0.8571428571428571
0.7692307692307693
0.7272727272727273
1.0
0.8333333333333334